@import "styles/variaveis";
@import "styles/breakpoints";

p {
	color: black;
	font-size: 1.5rem;
	display: inline-block;
	padding-left: 1rem;
	white-space: nowrap;
}


.footer {
	background-color: #edf7fe;
	display: flex;
	justify-content: flex-start;
	padding: 2px $padding-horizontal;

	@media (max-width: $desktop_xsm) {
		padding: 2px $padding-horizontal-mobile;
	}

	@media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
		padding: 2px $padding-horizontal-sm;
	}

	@media (min-width: $desktop_sm) and (max-width: $desktop_md) {
		padding: 2px $padding-horizontal-md;
	}

	&__logo {
		width: 50px;
		height: 50px;
		padding-top: 18px;
	}
}